body{
	background: url("../img/jungle.jpg");
}

#main{
	margin-left: 26%;
	width: 690px;
	height: 690px;
	border: solid black 1px;
	background-color: #7c7c7c;
}

#info{
	width: 150px;
	height: 150px;
	border: 1px solid black;
	float: left;
	position: relative;
	left: 215px;
	background-color: #7c7c7c;
}

.box{
	width: 150px;
	height: 150px;
	border: 1px solid black;
	float: left;
	margin: 10px;
	background: radial-gradient(gray 1%, black);
	background-position: 100px 0px;
	background-repeat: none;
	background-size: 220px 220px;
}

img{
	/*z-index: -1;*/
	position: relative;
	width: 150px;
	height: 150px;
}

p{
	margin-bottom: 5px;
}

#array{
	float: left;
	border: 1px solid black;
	width: 150px;
	height: 300px;
}

#start{
  background-color: rgb(203, 81, 81);
  margin: 5px;
  /*margin-bottom: 20px;*/
  width: 140px;
  height: 40px;
  box-shadow: inset 0px 0px 1em rgb(13, 12, 12);
}

.flash{
	-webkit-animation: flash 2s 1s infinite linear alternate;
}

@-webkit-keyframes flash{
	0% {
		background-color: rgb(203, 81, 81);
		box-shadow: inset 0px 0px 1em rgb(13, 12, 12);
	}

	50%{
		box-shadow: 0px 0px 0px black;
		box-shadow: inset 0px 0px 0.5em rgb(13, 12, 12);
	}

	100% {
		background-color: rgb(255, 32, 32);
		box-shadow: 0px 0px 0em rgb(255, 32, 32);
	}
}